@reboot /usr/bin/sleep 10 && /usr/bin/curl --silent --insecure "https://localhost/simplesaml/module.php/cron/run/daily/{{ environ("CRON_SECRET") }}"
0 0 * * * /usr/bin/curl --silent --insecure "https://localhost/simplesaml/module.php/cron/run/daily/{{ environ("CRON_SECRET") }}"
{% if environ("ACME_ENABLED") %}0 */12 * * * /usr/bin/sleep $(($RANDOM \% 1800)); /acme-renew.sh
{% endif -%}
