<!--
var embedded_wayf_URL = "https://{{ environ("DS_FQDN") | default("ds.gakunin.nii.ac.jp", true) }}/WAYF/embedded-wayf.js";
document.write('<script type="text/javascript" src="' + embedded_wayf_URL + '?' + (new Date().getTime()) + '"></scr'+'ipt>');
//-->
