<?php

$config = [
    'sets' => [
        'gakunin-metadata' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://metadata.gakunin.nii.ac.jp/gakunin-metadata.xml?generation=2',
                    'certificates' => [
                        'gakunin-signer.cer'
                    ],
                    'validateFingerprint' => '5E:D6:A8:C5:E9:30:49:3F:B4:BA:77:54:6A:FB:66:BA:14:7D:CB:50:5B:EF:0F:D9:7C:26:04:C2:D9:36:FD:81',
                    'validateFingerprintAlgorithm' => 'XMLSecurityDSig::SHA256'
                ]
            ],
            'outputDir' => 'metadata/gakunin-metadata/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ],
        'attributeauthority-remote' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://meatwiki.nii.ac.jp/confluence/download/attachments/6684843/cgidp-metadata.xml?api=v2'
                ]
            ],
            'outputDir' => 'metadata/attributeauthority-remote/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ],
        'orthros-metadata' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://core.orthros.gakunin.nii.ac.jp/metadata/orthros-idp-metadata.xml',
                ]
            ],
            'outputDir' => 'metadata/orthros-metadata/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ]
    ]
);
