<?php

$config = [
    'sets' => [
        'gakunin-metadata' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://metadata.gakunin.nii.ac.jp/gakunin-test-metadata.xml',
                    'certificates' => [
                        'gakunin-signer.cer'
                    ],
                    'validateFingerprint' => 'FA:11:11:5B:EC:13:4D:55:85:AF:60:32:E1:6C:01:01:EF:9C:A0:6B:17:8C:8B:9C:7F:2B:69:41:EB:68:30:1E',
                    'validateFingerprintAlgorithm' => 'XMLSecurityDSig::SHA256'
                ]
            ],
            'outputDir' => 'metadata/gakunin-metadata/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ],
        'orthros-metadata' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://core-stg.orthros.gakunin.nii.ac.jp/metadata/orthrosstg-idp-metadata.xml',
                ]
            ],
            'outputDir' => 'metadata/orthros-metadata/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ],
    ]
];
