<?php
/*
 * Configuration for the Cron module.
 */

$config = [
        'key' => '{{ env("CRON_SECRET") }}',
        'allowed_tags' => ['daily', 'hourly', 'frequent'],
        'debug_message' => true,
        'sendemail' => false,
];
