<?php

$config = [
    'sets' => [
        'gakunin-metadata' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://metadata.gakunin.nii.ac.jp/gakunin-test-metadata.xml',
                    'certificates' => [
                        '{{ environ("GAKUNINTEST_SIGNER_FILENAME") }}'
                    ],
                    'validateFingerprint' => '{{ environ("GAKUNINTEST_SIGNER_SHA256") }}',
                    'validateFingerprintAlgorithm' => 'XMLSecurityDSig::SHA256'
                ]
            ],
            'outputDir' => 'metadata/gakunin-metadata/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ],
        'orthros-metadata' => [
            'cron' => ['daily'],
            'sources' => [
                [
                    'src' => 'https://core-stg.orthros.gakunin.nii.ac.jp/metadata/orthrosstg-idp-metadata.xml',
                    'certificates' => [
                        '{{ environ("ORTHROSSTG_SIGNER_FILENAME") }}'
                    ],
                    'validateFingerprint' => '{{ environ("ORTHROSSTG_SIGNER_SHA256") }}',
                    'validateFingerprintAlgorithm' => 'XMLSecurityDSig::SHA256'
                ]
            ],
            'outputDir' => 'metadata/orthros-metadata/',
            'outputFormat' => 'flatfile',
            'expireAfter' => 60*60*24*4
        ],
    ]
];
