<!-- EMBEDDED-WAYF-START -->

<script type="text/javascript">{{ include('includes/embedded-wayf-config.js') }}</script>
<script type="text/javascript">{{ include('includes/embedded-wayf-loader.js') }}</script>

<noscript>
  <!--
  Fallback to Shibboleth DS session initiator for non-JavaScript users
  You should set the value of the target GET parameter to an URL-encoded
  absolute URL that points to a Shibboleth protected web page where the user
  is logged in into your application.
  -->
  <!--
  <p>
    <strong>Login:</strong> Javascript is not available for your web browser. Therefore, please <a href="/Shibboleth.sso/DS?target=">proceed manually</a>.
  </p>
   -->
